body {
    font-family: Open Sans, Arial, sans-serif;
    color: grey;
    margin: 0 10px;
    }

/*************** MENU ********************/

.nav {
    top: 0;
    margin: 0;
    background-color: white;
    font-size: 1em;
    text-align: right;
    height: 70px;
    line-height: 70px;
    width: 100%;
    position: fixed;
    }
.logo {
    margin-left: 30px;
}
.menu {
    margin: 0 30px 0 0;
    display: inline;
}
.menu a {
    text-decoration: none;
    color: gray;
    margin: 0 20px;
    line-height: 30px;
}
.menu a:hover {
    color: forestgreen;
}
label {
    color: grey;
    margin: 0 10px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}
#toggle {
    display: none;
}
/*************** HERO ********************/
.hero {
    background: url("img/background.jpg") center;
    margin: 70px 0 0 0;
    height: 700px;
    width: 100%;
   }
.hero-logo {
    width: 50%;
    padding-top: 150px;
    padding-bottom: 200px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
}
.hero span {
    font-size: 3em;
    margin-right: 10px;
}
.hero-text {
    font-size: 2em;
    letter-spacing: 0.1em;
    display: inline-block;
}
/*************** ABOUT ********************/

.about {
    background-color: white;
    text-align: center;
    border-bottom: grey 1px solid;
    width: 100%;
}
.about-h1 {
    padding-top: 70px;
    margin: 0;
}
.about-container {
    width: 100%;
    padding-top: 8%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-img {
    margin-right: 20px;
    width: 150px;
    height: 150px;
    background-image: url("img/face.jpg");
    background-size: cover;
    border-radius: 50%;
}
.about-text {
    width: 50%;
    text-align: justify;
}
.about-mark {
    font-size: 3em;
    padding-bottom: 20%;
}
.about-mark span {
    margin: 0 5px;
}
/*************** PROJECTS ********************/

.projects {
    background-color: white;
    text-align: center;
    border-bottom: grey 1px solid;
    width: 100%;
}
.proj-h1 {
    padding-top: 70px;
    margin: 0;
}
.proj {
    width: 100%;
    padding-top: 8%;
    padding-bottom: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sample1 {
    background-image: url("img/sample1.png");
    background-position: center;
    background-size: cover;
    margin: 5px;
    width: 350px;
    height: 250px;
    min-width: 350px;
}
.sample {
    margin: 5px;
    background-color: #c2c2c2;
    width: 350px;
    height: 250px;
    min-width: 350px;
}
.sample:hover, .sample1:hover {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}


/*************** PROJECTS ********************/

.contact {
    text-align: center;
    background-image: url("img/grass.jpg");
    background-position: center;
    background-size: cover;
    text-decoration: none;
    height: 700px;
    width: 100%;
}
.contact a {
    text-decoration: none;
    color: grey;
}
.contact-links {
    font-size: 3em;
    margin: 0 auto;
    padding: 50px auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact a:hover {
    color: forestgreen;
}
.contact-h1 {
    padding-top: 70px;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        z-index: 2;
    }
    .menu a {
        display: block;
        border-bottom: grey solid 1px;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .about-text {
        width: 95%;
    }
    body {
        width: 100%;
    }

}